## 标题备选
{{#titleOptionsNumbered}}
{{.}}

{{/titleOptionsNumbered}}
## 正文
{{body}}

## 标签
{{tagsDisplay}}

## 配图提示
{{#imageHintsNumbered}}
{{.}}

{{/imageHintsNumbered}}
{{#assumptions}}

## 假设
{{assumptions}}
{{/assumptions}}
